* {
    border: 1px solid teal;
    border-style: hidden;
}

body {
        margin:0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    background-color: rgb(39, 128, 39);
 /*   background-image: url("../CopyCat/210306\ WPark\ Drone\ Sunset.jpg"); width: 100%; height: 20vh;*/
    padding: 2px 2px;
    text-align: center;
    color: white;
  
}

h2 {
    color: black;
    text-align: center;
}
p {
    color: #000000;
    text-align:justify;
   
}
h5 {
    font-size:smaller;
}
.pictures {
    background-position:top;
}
.nav-item {
    text-align: left;
    font-size: 13px ;
    font-weight:bold;
    
    
}
.Drone {
    background-image: url(../CopyCat/210306\ WPark\ Drone\ Sunset.jpg);
    background-size:600px;
}
.container-fluid {
    background-color: teal;
    font-variant-position: super  ;
}